@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
$font-name: "Cairo", sans-serif;
@mixin font-style {
    font-family: $font-name;
    font-size: 20px;
    font-weight: bold;
    color: #212529;
  }

header h1{
    margin: 30px auto;
    @include font-style();
}